* {
font-family: Montserrat;
}

table {
text-align: center;
table-layout: auto;
border-collapse: separate;
}

table th,
table td {
border: solid 3px;
padding: 5px 10px;
border-radius: 3%;
background-color: hsl(200, 70%, 75%);

}

h1 {
text-align: center;
color:  hsl(200, 70%, 75%);
}

#code {
font-family: Consolas, monospace;
font-size: 14;
background-color: lightgrey;
}



footer {
text-align: left;
background-color: hsl(200, 70%, 75%);
border-style: groove;
width:
}
p {
font-weight: bold;
}